@import "tailwindcss";

@theme {
   --color-sprk-dark: #040406;
  --color-sprk-dark-1: #131319;
  --color-sprk-dark-2:#0D0D11;
  --color-sprk-grey: #60607b;
  --color-sprk-light-grey:#CECED6;
  --color-sprk-light: #f7f7f8;
  --color-sprk-light-1:#FAFAFB;
  
}

@layer base {
  body {
   
  }
}

@layer components {
  .head-title{
    @apply font-bold text-[28px];
  }
  .sec-title {
    @apply font-bold text-[22px];
  }

  .sec-desc{
    @apply font-medium text-sm;
  }
  .eyebrow-title{
    @apply text-[12px] text-[#60607B]
  }
  .sec-sub-title{
    @apply font-bold text-white text-2xl;
  }

  .bg-red-orange-gradient{
    background: linear-gradient(89.69deg, #EC3128 -14.76%, #F56233 49.73%, #FF9B3F 100%);
  }
  .label{
    @apply rounded-[12px] text-[12px] font-medium text-[#05051E] bg-[#F7F7F8] border-0 px-2 py-1 max-h-[24px];
  }
  .card-title{
    @apply font-bold text-lg text-sprk-dark-2;
  }

  .card-title::after{
   content: "";
    display: block;
    width: 42px;
    height: 3px;
    border-radius: 9px;
    background: linear-gradient(89.69deg, #EC3128 -14.76%, #F56233 49.73%, #FF9B3F 100%);
  }

  .card-list {
    @apply list-disc pl-5 space-y-2; 
  }

  .card-list li {
    @apply text-sprk-light-grey text-xs font-normal;
  }

  .card-bullet-list{
    @apply space-y-2 list-none;
  }

  .card-bullet-list li {
    @apply flex items-center gap-3 text-xs text-sprk-light-grey font-normal;
  }  

  .card-bullet-list-icon{
    @apply h-3 w-3 rotate-45 rounded-sm flex-shrink-0;
    /* background: linear-gradient(
      89.69deg,
      #ec3128 -14.76%,
      #f56233 49.73%,
      #ff9b3f 100%
    ); */
  }

  /* border gradient */

  .red-yellow-border-gradient {
    @apply bg-gradient-to-r from-[#EC3228] via-[#F66B34] to-[#FF9B3F];
  }

  /* button component start*/
  .btn-default{
     @apply px-4 py-3 rounded-lg bg-white text-[#022B59] text-sm font-semibold shadow-md h-[36px] flex items-center;
  }

  .btn-primary{
    @apply border border-[#000000]
  }

  .btn-dark {
    @apply bg-[#022B59] text-white;
  }

  .btn-grey-gradient {
    @apply bg-[#05051E]/40 text-white;
  }

  .btn-gradient {
    @apply px-6 py-2 rounded-lg text-white font-semibold flex items-center gap-2
           shadow-md transition;
    background: linear-gradient(90deg, #EC3128 0%, #F56233 50%, #FF9B3F 100%);
    /* @apply flex items-center gap-2 px-4 py-2 bg-gradient-to-r from-orange-500 to-red-500 text-white rounded-lg font-semibold shadow-md; */
    &.typ-small{
      @apply px-3 py-1 rounded-[12px]
    }
  }

  .btn-outline {
    @apply px-6 py-2 rounded-lg bg-transparent text-[#011d3e] font-semibold 
     hover:bg-transparent transition border-[#011d3e] border-1;
  }

  .btn-link {
    @apply text-sm font-semibold uppercase border-b border-[#022B59];
  }


  /* button component end */


  .stats-container {
    @apply flex gap-12; 
  }

  .stat-item {
    @apply text-left;
  }

  .stat-label {
    @apply text-xs mb-1 text-sprk-grey;
  }

  .stat-value {
    @apply font-bold text-black text-sm;
  }


  /* new css */
  .header-nav-border{
    @apply border-b-[6px] border-transparent pb-3 font-bold text-xl;
    border-image: linear-gradient(89.69deg, #EC3128 -14.76%, #F56233 49.73%, #FF9B3F 100%);
    border-image-slice: 1;
  }

  .card-bg {
      background-image: url('/assets/images/Intersect.png'); /* Replace with your image URL */
      background-size: cover;
      background-position: center;
    }

  .cp-main-nav {
    @apply flex gap-6 h-[60px] items-stretch text-[16px];

    .nav-item {
      @apply items-center justify-items-center flex;
      &.active {
        @apply relative before:content-[''] before:absolute before:left-0 before:right-0 before:bottom-0 before:h-[6px] before:bg-[linear-gradient(90deg,#EC3128_-14.76%,#F56233_49.73%,var(--Amber-A500,#FF9B3F)_100%)] before:rounded-[9px];
      }
    }
  }
  .main-panel {
    @apply flex flex-1;
    .l-panel {
      @apply w-[50px] hover:w-[180px] bg-sprk-dark-1 duration-800 ease-in-out pl-[8px] pt-[12px] relative;
      .l-nav {
        @apply text-sprk-grey;
        .nav-item {
          @apply flex w-full relative before:absolute before:content-[''] before:left-0 before:top-[12px] before:bottom-[12px] before:w-[8px] before:rounded-l-[8px];
          .item-wrap {
            @apply flex w-full ml-[8px] items-center gap-[16px] px-[8px] py-[20px] bg-sprk-dark-1 relative overflow-hidden;
            img {
              @apply invert w-[14px] h-[14px];
            }
          }
          &.active {
            @apply before:bg-white;
            .item-wrap {
              @apply text-sprk-dark bg-white before:content-[''] before:absolute before:left-0 before:right-[-1px] before:bottom-[-12px] before:h-[24px] before:bg-sprk-dark-1 before:rounded-tr-[20px] after:content-[''] after:absolute after:left-0 after:right-[-1px] after:top-[-12px] after:h-[24px] after:bg-sprk-dark-1 after:rounded-br-[20px];
              img {
                @apply invert-0;
              }
            }
          }
        }
      }
    }
    .r-panel {
      @apply flex-1 relative;
    }
  }

  /* Overlay */
  .modal-show {
    @apply fixed inset-0 flex items-center justify-center bg-black/50 z-50;
  }

  /* Popup box */
  .popup-box {
    @apply relative bg-white rounded-2xl shadow-lg border border-gray-200 
          flex flex-col items-center justify-center gap-4 p-6;

    /* Fixed desktop size */
    width: 524px;
    height: 274px;

    /* Responsive */
    @apply w-[90%] max-w-[524px] h-auto min-h-[240px];

     &.align-left{
      align-items: flex-start !important;
    }
  }



  .cp-breadcrumbs{
    @apply flex gap-2 pb-[15px]; 

    .breadcrumb-item{
      @apply text-xs font-medium text-sprk-grey;
    }
  }

  .cp-scenario-form, .cp-assumptions-form{
    .label-wrap{
      @apply flex gap-1 text-sm font-medium mb-2;
    }
  }

  .cp-scenario-card{
    @apply flex-1 min-w-[250px] bg-white rounded-2xl shadow-sm border border-gray-200 p-6 flex justify-between;
  
    .title {
      @apply font-bold text-xl text-sprk-dark;
    }
    .desc{
      @apply font-medium text-xs text-sprk-grey;
    }
  }

  .cp-scenario-card.active {
    @apply shadow-md rounded-2xl; 

    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08) -1.67%,
      rgba(255, 155, 63, 0.08) 33.42%,
      rgba(220, 47, 35, 0.08) 67.18%
    );
    border: 1px solid #F14931; 
  }
}

.custom-prev,
.custom-next {
  @apply flex items-center justify-center w-10 h-10 rounded-full 
         bg-transparent border border-gray-300 text-black 
         shadow-md transition;
  &.grey-bg{
     @apply border border-white/30 shadow-[0_4px_4px_rgba(0,0,0,0.42)];
    background: linear-gradient(
    40deg,
    rgba(82, 82, 82, 0.24) 0%,    
    rgba(82, 82, 82, 0.24) 24%, 
    rgba(0, 30, 41, 0.4) 40%,  
    rgba(0, 30, 41, 0.4) 100%  
  );
  }
  &.swiper-button-disabled{
    @apply opacity-50 cursor-not-allowed;
  }
  &.disable{
    @apply opacity-50 cursor-not-allowed;
  }
}

.metric-card-label{
  @apply inline-flex gap-2 text-sm rounded-xl bg-transparent py-[2px] px-[8px];
  &.red{
    @apply text-[#DC2F23] bg-[#F9E0DE];
  }
  &.green{
    @apply text-[#257F4E] bg-[#E2F8EC];
  }
  &.blue{
    @apply text-[#022B59] bg-[#E6F0FB];
  }
}
